appdirs==1.4.3
buildozer==0.32
colorama==0.3.7
Cython==0.25.2
dj-database-url==0.4.2
Django==1.10.6
djangorestframework==3.6.2
gunicorn==19.7.1
Jinja2==2.9.6
Kivy==1.9.1
Kivy-Garden==0.1.4
MarkupSafe==1.0
olefile==0.44
packaging==16.8
pexpect==4.2.1
Pillow==4.1.0
psycopg2==2.7.1
ptyprocess==0.5.1
pygame==1.9.3
pyparsing==2.2.0
pytz==2017.2
requests==2.13.0
sh==1.12.13
six==1.10.0
virtualenv==15.1.0
